body {
    margin: 0;
    padding: 0;
    background: url(rosa.gif);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.luna {
    width: 35%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    top: -14%;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 7%
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid slateblue;
    background: transparent;
    outline: none;
    height: 40px;
    color: violet;
    font-size: 15px
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    background: MIDNIGHTBLUE;
    color: HONEYDEW;
    font-size: 15px;
    border-radius: 2px;

}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: slateblue
}

.loginbox a {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: darkgrey;

}

.loginbox a:hover {
    color: slateblue;
}
