body {
    margin: 0px;
    padding: 100px;
    background-color: black;
	
}



.text {
    font-family: 'Schoolbell', cursive;
    font-size: 40px;
    color: navajowhite;
    text-align: center;
    line-height: 85px;
    letter-spacing: 5px;
    position: relative;
    top: 50%;
    cursor: pointer;

}


.text:hover {
    text-shadow: 0px 0px 10px #F51B57, 0px 0px 25px #FA136E;
}

/*hamburger*/



